<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/f73d05bfa6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/home.css">
    <title>Home</title>
</head>
<body>
    <!-- banner-->
<Section id="sesi-1">
        <nav class="navbar navbar-inverse" style="margin: 0; padding: 0%;">
            <div class="container-fluid">
              <div class="navbar-header">
                <a class="navbar-brand" href="#">Logo</a>
              </div>
              <ul class="nav navbar-nav">
                <li class="active"><a href="#sesi-1">Home</a></li>
                <li><a href="#sesi-3">Work</a></li>
                <li><a href="#sesi-5">Contact</a></li>
                <li><a href="#sesi-6">About ME</a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <% if (user) { %>
                <li style="color: aliceblue; margin-top: 0.5em; font-size: 20px;">Welcome, <%=user.email%></li>
                <li><a href="/admin">Admin</a></li>
                <li><a href="/logout">Log out</a></li>
                <% } else { %>
                <li class="signUp"><a href="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li class="login"><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                <% } %>
            </ul>
            </div>
          </nav>
            <div class="image-sesi1">
                <img style = "max-width: 100%; height: 600px; width: 1300px;" src="img/main-bg.jpg" alt="">
            </div>
        <div class="attribute-sesi1" style= "position : absolute; left: 10%; top: 30%">
        <div class="Play">PLAY TRADITIONAL GAME</div>
                <p class = "Experience" style="position: absolute; left : 40%">Experience new traditional Game</p>
                <div class="Now">
                    <a href="/game-play" class="btn btn-primary" style="background-color: #FFB548; color: black; position: absolute; left: 50%; top : 150%">PLAY NOW</a>
                  </div>
            <p class="Story"  style="position: absolute; left : 52%; top: 250%;">The Story</p>
            <div class="down" style="position: absolute; left : 54%; top: 290%;"></div>
        </div>
</Section>
        <!-- <div>
        <img style = "max-width: 100%; height: 100%;" src="img/the-games-bg.jpg" alt="">
            <p class="ask1" style="position: relative; top: 10%; color: tomato;">What's so special?</p>
            <p class="ask2"style ="position: relative; top : 10%; ">What's so special?</p>
        </div> -->
    <!-- <div class="left"></div>
    <div class="right"></div>
        <div class="lingkaran1"></div>
        <div class="lingkaran2"></div>
        <div class="lingkaran3"></div>
        <div class="lingkaran4"></div>
        <div class="lingkaran5"></div> -->

<Section id="sesi-2" style = "background-color: black;">
                <div>
                    <img src="img/rockpaperstrategy-1600.jpg" alt="" style="height: 300px; width: 500px; position: absolute; top: 15%;  left : 40%;">
                </div>
            </div>
            <div class="page-3">
                <p class="teks1" style="position: absolute; left: 10%;" >What's so special?</p>
                <p class="teks2" style="position: absolute; left: 10%;">THE GAMES</p>
            </div>

 
</Section>
<Section id="sesi-3" style="margin: 0%; padding:0%;">
    <div class="image-sesi3">
        <img style = "max-width: 100%; height: 120%;" src="img/features.jpg" alt="">
    </div>
    <div class="page-3">
        <p class="teks1" >What's so special?</p>
        <p class="teks2" >FEATURES</p>
        <p class="teks3">TRADITIONAL GAMES</p>
        <p class="teks4" >If you miss your childhood, we prvide many traditional games here</p>
        <p class="teks5" >GAME SUIT</p>
        <p class="teks6" >TBD</p>
    </div>
    <div class="lingkar1"></div>
    <div class="lingkar2"></div>
    <div class="lingkar3"></div>
    <div class="line"></div>
</Section>

<Section id="sesi-4">
    <div class="image-sesi4">
        <img style = "max-width: 100%; height: auto;" src="img/requirements.png" alt="">
    </div>
<div class="page-4">
    <p class="system">SYSTEM</p>
    <p class="req" style="position: absolute; top: 20%;">REQUIREMENTS</p>
    <p class="can">Can My Computer run this game?</p>
</div>

<div class="table1">
    <table border="1" cellspacing="0" cellpadding="5" >
        <tr>
            <td>
                <p class="upper">OS :</p>
                <p class="under">Windows 7 64-bit only 
                    <br>(No OSX support at this time)
                     </br></p>
            </td>
            <td>
                <p class="upper">PROCESSOR:</p>
                <p class="under">Intel Core 2 Duo @ 2.4 GHZ or
                    <br>AMD Athlon X2 @ 2.8 GHZ </br></p> 
            </td>
        </tr>
        <tr>
            <td>
                <p class="upper">MEMORY :</p>
                <p class="under">4 GB RAM</p>
            </td>
            <td>
                <p class="upper">STORAGE:</p>
                <p class="under">8 GB available space</p> 
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <p class="upper">GRAPHICS :</p>
                <p class="under">NVIDIA GeForce GTX 660 2GB or 
                    <br>AMD Radeon HD 7850 2GB DirectX11 (Shader Model 5)</br></p>
            </td>
        </tr>

    </table>

</div>
</Section>
<Section id="sesi-5" style="background-color: black;">
    <div class="page-5">
        <p class="top" style="color: white; position: relative; left: 180%;">TOP SCORES</p>
        <p class="this" style="color: white; position: relative; left: 180%;">This top score from various games provided <br/>
            on this platform</p>
        <button class="see" style=" position: relative; left: 180%;">see more</button>
        <div class= "evan" style="position: absolute; left: 5%; top : -100%">
            <p class="namecom">Evan Lahti</p>
            <p class="job">PC Gamer</p>
            <p class="comment">"One of my gaming highlightrs of the year."</p>
            <p class="date">October 18,2020</p>
            <div class="iconcom1">
            <i class="fab fa-twitter" style="color: white"></i>
                </div>
        <div class="lingkarfoto1"></div>
        <div class="fotolingkar1"></div>
        </div>
    
        <div class= "jada"style="position: absolute; left : 15%; top : 30%">
            <p class="namecom">Jada Grifin</p>
            <p class="job">Nerdreactor</p>
            <p class="comment">“The next big thing in the world of streaming 
                <br>and survival games."</br></p>
            <p class="date">December 21,2018</p>
            <div class="iconcom2">
                <i class="fab fa-twitter" style="color: white"></i>
                </div>
        <div class="lingkarfoto2"></div>
        <div class="fotolingkar2"></div>
        </div>
    
        <div class= "aaron" style="position: absolute; top : 180%">
            <p class="namecom">Aaron Williams </p>
            <p class="job">Uproxx</p>
            <p class="comment">“Snoop Dogg Playing The Wildly Entertaining 
                <br>‘SOS’ Is Ridiculous.”</br></p>
            <p class="date">December 24,2018</p>
            <div class="iconcom3">
                <i class="fab fa-twitter" style="color: white"></i>
            </div>
        <div class="lingkarfoto3"></div>
        <div class="fotolingkar3"></div>
        </div>
   </div>


</Section>



<Section id="sesi-6" style="background-color: black">
<div class="text-page6">
    <img src="" alt="">
    <p class="want">Want to stay in touch?</p>
    <p class="news">newsletter SUBSCRIBE </p>
    <p class="inorder">In order to start receiving our news, all you have to do is enter your email <br/>
        address. Everything else will be taken care of by us. We will send you emails <br/>
        containing information about game. We don’t spam.</p>
</div>
<div class="images-page6">
    <img src="img/page6.PNG" alt="page6">
</div>
<div class="footer"></div>
<div class="line6"></div>
<div class="footer1">
    © 2018 Your Games, Inc. All Rights Reserved
</div>
<div class="footer2">
    Privacy Policy | Terms of Services | Code of Conduct 
</div>
<div class="footernav">
        <ul>
        <li><a href="#sesi-1">MAIN</a></li>
        <li><a href="">ABOUT</a></li>
        <li><a href="">GAME FEATURES</a></li>
        <li><a href="">SYSTEM REQUIREMENTS</a></li>
        <li><a href="">QUOTES</a></li>
        </ul>
</div>
<div style="position: absolute; top: 70%;">
    <form action="/action_page.php">
      <label for="fname"></label>
      <input type="email" id="email" name="email" placeholder="Your email..">
</div>
<div>
    <a href="/game" class="btn btn-primary" style="background-color:#FFB548; color: black; position: absolute; left: 60%; top : 69%">SUBSCRIBE NOW</a>
  </div>
<div class="sosmed">
    <i class="fab fa-facebook-f" style="color: white"></i>
    <i class="fab fa-twitter" style="color: white"></i>
    <i class="fab fa-youtube" style="color: white"></i>
    <i class="fab fa-twitch" style="color: white"></i>
    </div>
</Section>

<script>
     let OnClick = () => {
        
     }

</script>
</body>
</html>
